#mainbutton {
    width: 55px;
    margin-right: 15px;      
    cursor: pointer;
}
#mainbutton:hover {
    width: 55px;
    margin-right: 15px;      
    cursor: pointer;
    -webkit-filter: invert(100%)
}

#mainbuttonclicked
{
    width: 55px;
    margin-right: 15px;      
    cursor: pointer;
    -webkit-filter: sepia(100%);
}


#maincanvas {
    margin-left: 150px;
    position: absolute;
}

#player1planet {
    width: 250px;
    margin-right: 350px;
}
#player2planet {
    width: 200px;
    position: relative;
    left: 600px;
    top: -270px;
}

#nonclickable {
    width: 55px; 
    left: 580px; 
    top: -55px;
    position: relative;
    
}

#nonclickable:hover {
    width: 55px; 
    left: 580px; 
    top: -55px;
    position: relative;
    -webkit-filter: invert(100%)
    
}

#player1life {
position: relative;
width: 45px;
top: 1px;
left: -520px;
}

#player2life {
position: relative;
width: 45px;
top: -267px;
left: 457px;
}

#player1score {
    position: relative;
    top: -27px;
    left: 122px;
    color: red;
}

#player2score {
    position: relative;
    top: -296px;
    left: 701px;
    color: red;
}

/* TOOLTIP CSS BELOW */
/* 
    Required Styles
*/
#aToolTip {
    position: absolute;
    display: none;
    z-index: 50000;
}

    #aToolTip .aToolTipContent {
        position:relative;
        margin:0;
        padding:0;
    }
/* 
    END: Required Styles
*/
/**
    Default Theme
*/
.defaultTheme {
    border:2px solid #444;
    background:#555;
    color:#fff;
    margin:0;
    padding:6px 12px;   
    
    -moz-border-radius: 12px 12px 12px 0;
    -webkit-border-radius: 12px 12px 12px 0;
    -khtml-border-radius: 12px 12px 12px 0;
    border-radius: 12px 12px 12px 0;
    
    -moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
    -webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
    box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}
    
    .defaultTheme #aToolTipCloseBtn {
        display:block;
        height:18px;
        width:18px;
        background:url(../images/closeBtn.png) no-repeat;
        text-indent:-9999px;
        outline:none;
        position:absolute;
        top:-20px;
        right:-30px;
        margin:2px;
        padding:4px;
    }