<link rel="stylesheet" href="styles/maingame.css">  
<link href="styles/style3.css" rel="stylesheet" type="text/css" />
<script src="scripts/tooltip.js"></script>
<script src="scripts/imagechange.js"></script>


<div class="rematch">
<button id="rematchbutton">REMATCH BITCH</button>
</div>
<div class="row">
  <div>
    <div id="maincanvas">
      <div id="planetscanvas">
        <img src="images/planets/player1.png" id="loserPlayer">
      </div>   
       <div id="planetscanvas">
        <img src="images/planets/player1.png" id="winnerPlayer">(this is the winner player)
      </div>      
    </div>  
  </div>
</div>
