<link rel="stylesheet" href="styles/maingame.css">  
<link href="styles/style3.css" rel="stylesheet" type="text/css" />
<script src="scripts/tooltip.js"></script>
<script src="scripts/imagechange.js"></script>



<div class="row">
  <div class="col-md-6">
    <div id="maincanvas">
      <div id="planetscanvas">
        <img src="images/planets/player1.png" id="player1planet">
        <a id="player1life" class="normalTip" tooltip="Your Life Points">
      </div>   
       <div id="planetscanvas">
        <img src="images/planets/player1.png" id="player1planet">player2
        <a id="player1life" class="normalTip" tooltip="Your Life Points">
      </div>      
    </div>  
  </div>
</div>
