<h1>Invite:</h1>

<input type="search" ng-model="search" />
<div style="overflow: scroll; height: 500px;">
    <div load-images="false" masonry masonry-options="{ gutter: 10 }">
        <div style="width: 70px;" class="masonry-brick" ng-repeat="friend in friends | filter:search">
            <span>{{friend.name}}</span>
            <img ng-src="{{friend.picture.data.url}}"></img>
        </div>
    </div>
</div>

<p>
  <button class="btn btn-success" ng-click="inviteNoop()">Or Create a PUBLIC game</button>
</p>

<p>
  <button class="btn btn-success" ng-click="AIgame()">Create a AI game</button>
</p>
