<link href="styles/minigame.css" rel="stylesheet" type="text/css">

<script>
  $('button#copy-to-clipboard').zclip({
    path: 'bower_components/jquery-zclip/ZeroClipboard.swf',
    copy: function() {return $('input#shareLink').val();},
    afterCopy: function () {}
  });

  $('input#shareLink').val(window.location.href);
  $('input#shareLink').attr('size', $('input#shareLink').val().length);
</script>

<div class="shareLinkDiv">
  <h2>Remember to share this link:</h2>
  <div class="shareLink">
  <input id="shareLink" class="sharableLink" disabled=disabled value="" />
  <button id="copy-to-clipboard" type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-file"></span> Copy
  </button>
  </div>
</div>
<h2>Waiting for your friend to show up, care for <a class="button-next">a mini game</a> to pass the time?</h2>

<div id="wholegame">
<br>
<br>

<div class="test">
  <div class="container">
    <div class="heading">
      <h1 class="title"></h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    <strong class="important">Note:</strong> This site is the official version of 2048. You can play it on your phone via <a href="http://git.io/2048">http://git.io/2048.</a> All other apps or sites are derivatives or fakes, and should be used with caution.
    </p>
    <hr>
    <p>
    Created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> Based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
  </div>
</div>
</div>

  <script src="scripts/minigame/bind_polyfill.js"></script>
  <script src="scripts/minigame/classlist_polyfill.js"></script>
  <script src="scripts/minigame/animframe_polyfill.js"></script>
  <script src="scripts/minigame/keyboard_input_manager.js"></script>
  <script src="scripts/minigame/html_actuator.js"></script>
  <script src="scripts/minigame/grid.js"></script>
  <script src="scripts/minigame/tile.js"></script>
  <script src="scripts/minigame/local_storage_manager.js"></script>
  <script src="scripts/minigame/game_manager.js"></script>
  <script src="scripts/minigame/application.js"></script>
  <script type="text/javascript">
  console.log("ilovepenn");
	$(function() {
		console.log("ilovepenn");
		$("#wholegame").hide();
	    $('h2 a.button-next').click(function() {
	        $("#wholegame").show();
	        console.log("ilovepenn");
	    });
	});

  </script>

