<div class="row">
  <div class="col-md-6">
    <h1>Moves</h1>
    <ul>
      <li ng-repeat="move in moves" ng-click="selectMove(move)" ng-disabled="isSelected(move)">
        <b>{{move.name}}</b>
      </li>
    </ul>

    <h1>Selected moves</h1>
    <ul>
      <li ng-repeat="(name, move) in player.selectedMoves">
        <a ng-click="deselectMove(move)"><b>{{name}}</b></a>
      </li>
    </ul>
    <button class="btn btn-success" ng-click="doneSelectingMoves()">Done</button>
  </div>

  <div class="col-md-6">
    <h1>Opponent:</h1>
    <ul>
      <li ng-repeat="(name, move) in opponent.selectedMoves">
        <b>{{name}}</b>
      </li>
    </ul>
    </div>
  </div>
</div>
