<script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.2.1/firebase-simple-login.js'>
</script>
<link rel="stylesheet" type="text/css" href="/styles/login.scss">
<style type="text/css">
  .message{
    font-weight: bold;
  }

  .greeting {
      margin-left: 20%;
      margin-top: 30%;
      border: 1px solid #ccc;
      padding: 10px;
  }

  .loadGame {
    float: right;
    padding: 5px;
    position: relative;
    top: -50px;
  }
</style>

<button class="btn btn-large btn-primary" ng-click="openLogin()"> Sign in with Facebook </button>
<div class="greeting" ng-if="loggedIn">
  <!-- <div class="rawUser">
    {{auth}}
  </div> -->
  <div class="message">
    <span class="profilePic">
      <img ng-src="{{profilePic}}">
    </span>{{greeting}}
  </div>

  <div class="loadGame">
    <button class="btn btn-success loadBtn" ng-click="loadGame()">Lets Rock and roll</button>
  </div>
</div>
