<div class="container">

  <div ng-include="'views/partials/header.html'"></div>

  <p ng-hide="signedIn" class="login">
    <button class="btn btn-primary btn-lg btn-block" ng-click="facebookLogin()">Sign in with Facebook</button>
  </p>

  <div ng-show="signedIn" class="jumbotron">
    <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" /><br><br><br>
    <button ng-click="add()">Start a game</button>
  </div>
  <div ng-show="signedIn" ng-include="'views/partials/gameList.html'"></div>


  <div class="GameInProgress">
    <main>
      <section class="card">
        <h1><strong>In Progress</strong></h1>
        <h2>Yuri K. <span class="redlives">(3 lives)</span><br> Penn S. <span class="redlives">(1 life)</span></h2>
        <div class="map"></div> 
      </section>	  
    </main>
    <main>
      <section class="card">
        <h1><strong>In Progress</strong></h1>Began: 12/12/14
        <h2>Yuri K. <span class="redlives">(6 lives)</span> <br> Peter P. <span class="redlives">(2 lives)</span></h2>
        <div class="map"></div> 

      </section>	  
    </main>
    <main>
      <section class="card">
        <h1><strong>In Progress</strong></h1>
        <h2>Yuri K. <span class="redlives">(10 lives)</span> <br> Jim H. <span class="redlives">(1 life)</span></h2>
        <div class="map"></div> 

      </section>	  
    </main>
  </div>

  <div class="NewGame">
    TESTING THIS ONE TWO THREE
  </div>
  <div class="CompletedGame">
    TESTING THIS ONE TWO THREE
  </div>
</div>
