<div class="container">

  <div ng-include="'views/partials/header.html'"></div>

  <p ng-hide="signedIn" class="login">
    <button class="btn btn-primary btn-lg btn-block" ng-click="facebookLogin()">Sign in with Facebook</button>
  </p>

  <div ng-show="signedIn" class="jumbotron">
    <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" /><br><br><br>
    <button ng-click="add()">Start a game</button>
  </div>
  <div ng-show="signedIn" ng-include="'views/partials/gameList.html'"></div>
</div>
